table,
tr,
th,
td {
  /* border-vertical-spacing: 10px; */
  border-spacing: 0px;
  /* margin-bottom: 10px; */
  -webkit-border-vertical-spacing: 0px;
  border-collapse: separate;
}

/* th {
  -webkit-border-horizontal-spacing: 30px !important;
  padding-right: 20px;
  background-color: #fde1e1;
} */

#ssv {
  background-color: #e0ddff;
  border-radius: 100%;
}
th,
tr {
  text-align: left;
}
p {
  margin: 0;
}
.rowtr {
  background-color: #fde1e1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #95a4fc;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  height: 78;
  width: 1297px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.rowthead {
  color: #000;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  width: 140px;
  height: 27px;
  padding: 10px;
  display: flex;

  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #95a4fc;
  background: #f5f9ff;
 margin-left: 72px;
  margin-right: 114px;
}
.rowthead1 {
  margin-right: 124px;
}
.rowthead2 {
  margin-right: 113px;
}

.rowstatus {
  color: #000;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  display: inline-flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid #95a4fc;
  background: #ece5a7;
  width: 140px;
  height: 27px;
  padding: 10px;
}
.rowarrow {
  padding-right: 72px;
  margin-left: 51px;
}

.rowtbody {
  border-radius: 5px;
  height: 401px;
  background-color: #e9ecff;
}
.rowp {
  color: #4e4b4b;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  margin-top: 2px;
  margin-bottom: 10px;

  padding-left: 32.5px;
}

.row-table-tr {
  width: 1297px;
  height: 47px;
  flex-shrink: 0;
  display: flex;

  justify-content: space-between;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  background-color: white;
}
.row-table-tr1 {
  margin-right: 165px;
  margin-left: 34px;
  width: 151px;
  background-color: white;

  color: #000;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.row-table-tr2 {
  margin-right: 128px;
}
.row-table-tr3 {
  margin-right: 118px;

  padding-top: 10px;
  padding-bottom: 10px;
}
.row-table-tr4 {
  width: 153px;
  margin-right: 121px;
  color: #46bd1c;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.rowdownload0 {
  width: 1297px;
  height: 47px;
  flex-shrink: 0;
  display: flex;

  justify-content: space-between;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.rowdownload {
  color: #353535;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 155px;
  margin-right: 110px;
  margin-left: 40px;
  padding: 10px;
  margin-top: 14px;
  margin-bottom: 15px;
}
.rowdownload1 {
  margin-right: 51.2px;
  color: #007aff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 115px;
}
.rowdownload2 {
  margin-right: 334px;
  color: #007aff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 115px;
}
.card {
  margin-bottom: 10px;
}
.rowtick{
  background-color: #95A4FC;
  margin-left: 30px;
  border-radius: 8px;
border: 1px solid #95A4FC;
box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}
